DATABASE_URL="postgresql://postgres:12345678@localhost:5432/db?schema=public"

REDIS_USERNAME=default
REDIS_PORT=6379
REDIS_HOST=localhost
REDIS_PASSWORD=PASSWORD
REDIS_TTL= 300

POSTGRES_USER=postgres
POSTGRES_PORT=5432
POSTGRES_PASSWORD=12345678
POSTGRES_DB=db

SALT=10

JWT_SECRET=123
JWT_EXPIRES_IN=1h

JWT_REFRESH_SECRET=123
JWT_REFRESH_EXPIRES_IN=14d